@use "../../styles/abstracts";

.Features {
  &__hero {
    display: flex;
    .InfoCard {
      position: relative;
      flex: 1 0 54rem;
    }
    &-image-container {
      flex: 1 0 0;
    }
  }
  &__features {
    padding: 10rem 0rem;
  }
}
