@use "../../styles/abstracts";

.Features {
  &__hero {
    display: flex;
    height: 49rem;
  }
  &__InfoCard {
    position: relative;
    flex: 0 0 60rem;
  }
  &__hero-image-container {
    background-image: url("../../images/features/desktop/hero.jpg");
    background-position: left;
    background-size: cover;
    @include abstracts.respondMax(1000px) {
      background-size: cover;
      background-position: -15rem;
    }

    flex: 1 0 0;
  }

  &__features {
    padding: 10rem 0rem;
  }
}
