$desktop-small: 900px;
$tablet-large: 800px;
$tablet: 768px;
$tablet-small: 700px;
$tablet-really-small: 650px;
$mobile-large: 450px;
$mobile: 375px;

@mixin respondMax($size) {
  @media (max-width: $size/16px * 1em) {
    @content;
  }
}

@mixin respondMin($size) {
  @media (min-widht: $size/16px * 1em) {
    @content;
  }
}

@mixin borderHorizontal($verticalPlacement, $horizontalPlacement, $width) {
  @if $verticalPlacement==top {
    @if $horizontalPlacement==left {
      left: 0;
      top: 0;
    }
  }
  @if $verticalPlacement==top {
    @if $horizontalPlacement==right {
      right: 0;
      top: 0;
    }
  }

  @if $verticalPlacement==bottom {
    @if $horizontalPlacement==left {
      bottom: 0;
      left: 0;
    }
  }
  @if $verticalPlacement==bottom {
    @if $horizontalPlacement==right {
      bottom: 0;
      right: 0;
    }
  }

  content: "";
  position: absolute;
  width: $width;
  height: 8px;
  background-image: var(--color-accent);
  @content;
}

@mixin borderVertical($verticalPlacement, $horizontalPlacement, $height) {
  @if $verticalPlacement==top {
    @if $horizontalPlacement==left {
      left: 0;
      top: 0;
    }
  }
  @if $verticalPlacement==top {
    @if $horizontalPlacement==right {
      right: 0;
      top: 0;
    }
  }

  @if $verticalPlacement==bottom {
    @if $horizontalPlacement==left {
      bottom: 0;
      left: 0;
    }
  }
  @if $verticalPlacement==bottom {
    @if $horizontalPlacement==right {
      bottom: 0;
      right: 0;
    }
  }
  position: absolute;
  content: "";
  width: 8px;
  height: $height;
  background-image: var(--color-accent);
  @content;
}
