@use "../../styles/abstracts";

.FeaturedStoryCard {
  padding: 10rem 5rem;
  color: rgba(var(--color-light), 1);
  position: relative;
  &__image-container {
    background-size: cover;
    background-position: right;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 1;
      filter: opacity(0.18);
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 45%;
    @include abstracts.respondMax(abstracts.$desktop-small) {
      width: 75%;
    }
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 100%;
    }
    @include abstracts.respondMax(abstracts.$mobile) {
      color: white;
    }
    & > * + * {
      margin-top: 2rem;
    }
  }

  &__last-months {
    font-size: var(--fs-200);
    font-weight: 500;
    text-transform: uppercase;
  }
  &__heading {
    font-size: var(--fs-700);
    font-weight: 500;
    line-height: 4.8rem;
    letter-spacing: 4.17px;
    text-transform: uppercase;
  }
  &__subheading {
    font-weight: 400;
    font-size: var(--fs-300);
    margin-top: 1rem;
    color: rgba(var(--color-light), 0.5);
  }
  &__author {
    font-weight: 500;
    margin-left: 1rem;
    color: rgba(var(--color-light), 0.8);
  }
  &__text {
    color: rgba(var(--color-light), 0.5);
  }
  //mobile styling
  &__mobile {
    position: relative;
    .FeaturedStoryCard__image-container {
      height: 35rem;
    }
  }
  &__mobile-content-wrapper {
    padding: 5rem 0rem;
  }
}
