@use "../../styles/abstracts";

.Header {
  background-color: rgba(var(--color-light), 1);
  height: 8rem;
  position: relative;
  &__container {
    display: flex;
    align-items: center;
  }
  &__logo-container {
    cursor: pointer;
    margin-right: 1.5rem;
    flex: 1 0 0;
  }
  &__mobile {
    flex: 2.3 0 0;
  }
  &__checkbox {
    display: none;
    &:checked ~ .Header__mobile-height {
      width: 100%;
      visibility: visible;
    }
    &:checked ~ .Header__mobile-height .Header__mobile-container {
      opacity: 1;
      transition: opacity 700ms ease-in 500ms;
    }
  }
  &__mobile-button {
    height: 5rem;
    width: 4rem;
    display: none;
    align-items: center;
    @include abstracts.respondMax(abstracts.$tablet) {
      display: flex;
      margin-left: auto;
      position: relative;
      bottom: 0.5rem;
    }
  }
  &__mobile-lines {
    position: relative;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: black;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      top: 0;
      left: 0;
      margin-top: 1rem;
    }
  }
  &__mobile-height {
    @include abstracts.respondMax(abstracts.$tablet) {
      position: absolute;
      z-index: 5;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0px;
      visibility: hidden;
      transition: height 700ms ease-in, visibility 900ms ease-in;
      background-color: rgba(var(--color-light), 1);
    }
  }
  &__mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include abstracts.respondMax(abstracts.$tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 1rem 2rem 1rem;
      width: 100%;
      opacity: 0;
      transition: opacity 400ms ease-in;
    }
  }
  &__nav {
    @include abstracts.respondMax(abstracts.$tablet) {
      width: 100%;
    }
  }
  &__nav-list {
    display: flex;
    list-style-type: none;
    @include abstracts.respondMax(abstracts.$tablet) {
      flex-direction: column;
      text-align: center;
      border-bottom: 1px solid rgba(var(--color-dark), 0.4);
    }
  }
  &__nav-item {
    @include abstracts.respondMax(abstracts.$tablet) {
      padding: 1rem 0rem;
    }
    &:not(:first-child) {
      margin-left: 3.7rem;
      @include abstracts.respondMax(800px) {
        margin-left: 2.5rem;
      }
      @include abstracts.respondMax(abstracts.$tablet) {
        margin-left: 0rem;
      }
    }
  }
  &__nav-link {
    text-decoration: none;
    font-size: var(--fs-200);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(var(--color-dark), 1);
  }
  &__button {
    margin-left: 1.5rem;
    @include abstracts.respondMax(abstracts.$tablet) {
      margin-left: 0rem;
      margin-top: 1.5rem;
      align-self: stretch;
      text-align: center;
    }
  }
}
