@use "../../styles/abstracts";

.Beta {
  position: relative;
  background-image: url("../../images/shared/desktop/bg-beta.jpg");
  background-size: cover;
  padding: 7rem 0rem;
  color: rgba(var(--color-light), 1);
  &::after {
    @include abstracts.borderVertical(top, left, 100%) {
      display: block;
    }
    @include abstracts.respondMax(abstracts.$mobile) {
      display: none;
    }
  }
  @include abstracts.respondMax(abstracts.$tablet) {
    background-image: url("../../images/shared/tablet/bg-beta.jpg");
  }
  @include abstracts.respondMax(abstracts.$mobile) {
    background-image: url("../../images/shared/mobile/bg-beta.jpg");
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      @include abstracts.borderHorizontal(top, left, 40vw) {
        display: none;
        left: auto;
      }
      @include abstracts.respondMax(abstracts.$mobile) {
        display: block;
      }
    }
    @include abstracts.respondMax(730px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__header {
    flex: 0 0 40rem;
    font-size: var(--fs-700);
    font-weight: 500;
    line-height: 4.8rem;
    letter-spacing: 4.17px;
    text-transform: uppercase;
    flex: 0 0 40rem;
    @include abstracts.respondMax(730px) {
      flex: 0 0 0rem;
      margin-bottom: 3rem;
    }
  }
}
