.Home {
  background-image: var(--color-accent);
  min-height: 100vh;
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(5rem, 1fr)
    [center-start]
    repeat(12, [col-start] minmax(min-content, 6.5rem) [col-end])
    [center-end]
    minmax(5rem, 1fr)
    [full-end];

  grid-template-rows: 9rem repeat(6, min-content);
  .Header {
    grid-column: full-start/full-end;
    grid-row: 1/2;
  }
}
